/* Super messy way to do this */

/* General Container Styles */
.badge-container {
  border: 1px solid #ccc;
  max-width: fit-content;
  padding: 0;
  align-items: center;
}

.Badge-Banner {
  width: 769px;
  border: 2px solid #ffffff;
}

/* Table Styles */
table {
  border: none;
  border-collapse: collapse;
  text-align: left;
  padding: 0;
}

table th {
  border: 4px solid #ffffff;
  background-color: inherit;
  /* Added to inherit from inline styles */
  color: #ffffff;
  font-size: 28px;
  font-weight: 100;
  padding: 5px;
  text-transform: uppercase;
}

table td {
  border: 4px solid #ffffff;
  background: #f0f0f0;
  color: #5c5c5c;
  width: 380px;
  font-size: 44px;
  font-weight: 200;
}

/* Flex Styles for td content */
.content-wrapper {
  display: flex;
  align-items: center;
}

.text {
  flex-grow: 1;
  padding: 5px;
  min-width: 0;
}

/* Chevron Styles */
.Industry .chevron::before,
.Functions .chevron::before {
  content: "";
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  margin-right: 0.5em;
}

.Industry .chevron::before {
  border-right: 0.2em solid #34bc88;
  border-top: 0.2em solid #2d7459;
  transform: rotate(45deg);
}

.Functions .chevron::before {
  border-right: 0.2em solid #255db6;
  border-top: 0.2em solid #4d8df5;
  transform: rotate(45deg);
}

/* List styles */
.Badge-Banner-List {
  width: 781px;
  border: 2px solid #ffffff;
}
.list-container {
  flex-direction: column;
  align-items: center;
  column-count: 2;
}

.list {
  width: 385px; /* Adjusted for border width and roughly twice the li width */
  list-style-type: none; /* No bullets */
  margin: 0;
  padding: 0;
}

.list-header {
  flex-basis: 50%; /* Makes sure headers take up half the width */
  text-align: left; /* Left header text */
  border: 4px solid #ffffff;
  color: #ffffff;
  text-transform: uppercase;
  background-color: inherit;
  align-items: center;
  justify-content: center; /* Center the text and the chevron for headers */
  padding: 5px 30px;
  font: message-box;
  font-size: x-large;
}

.list-content-wrapper {
  height: 70px;
  flex-basis: 50%; /* Each list item takes up half the width */
  border: 4px solid #ffffff;
  background: #f0f0f0;
  color: #5c5c5c;
  font: message-box;
  font-size: xx-large;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 5px;
}

/* Button Styles just for fun */
.createButton {
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: x-large;
  margin-top: 30px;
}

.createButton:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-createButton 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-createButton {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

.createButton:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, rgba(15, 52, 67, 0.8), rgba(52, 232, 158, 0.8) );
  left: 0;
  top: 0;
  border-radius: 10px;
}
